# --- Streamlit ---
streamlit>=1.40.1

# --- HuggingFace ---
huggingface-hub>=0.23.4

# --- LangChain Actualizado para Compatibilidad ---
langchain>=0.2.0
langchain-core>=0.2.0
langchain-community>=0.2.0

# --- Dependencias básicas ---
pydantic>=2.0.0
python-dotenv
numpy>=1.26.4
pandas>=2.2.2
