# --- Streamlit ---
streamlit>=1.40.1

# --- HuggingFace (sin transformers ni tokenizers) ---
huggingface-hub>=0.23.4

# --- LangChain Estable y Compatible ---
langchain>=0.1.20
langchain-core>=0.1.52
langchain-community>=0.0.28
langchain-huggingface>=1.0.1

# --- Dependencias básicas ---
pydantic==1.10.13
python-dotenv
numpy==1.26.4
pandas==2.2.2
